.img-logo-alterra {
    width: 10vw;
  }
  
  .img-logo-toped {
    width: 15vw;
  }
  
  .btn-primary {
    background-color: purple;
    border-color: purple;
  }
  
  .active-nav {
    color: #f07539 !important;
    font-weight: 700;
  }
  